@font-face {
	font-family: 'TheWildBreathOfZelda';
	src: url('../assets/font/TheWildBreathofZelda.otf')
}

@font-face {
	font-family: 'FOTRodinPro';
	src: url('../assets/font/FOTRodinProM.otf');
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* {
	margin: 0;
	padding: 0;
	--background-col: rgba(0, 0, 0, 0.5);
}

body {
	height: 100vh;
	background-image: url('../assets/background.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	font-family: 'FOTRodinPro';
}

#header {
	flex: none;
}

#header > h1 {
	text-align: center;
	margin: 16px;
	font-family: 'TheWildBreathOfZelda';
	font-size: 3rem;
}

#tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'TheWildBreathOfZelda';
	font-size: 1.5rem;
}

li {
	list-style-type: none;
	padding: 8px 16px;
	width: 100px;
	text-align: center;
	border-radius: 8px 8px 0px 0px;
}

.clicked {
	background-color: var(--background-col);
	color: white;
	transition: background-color 0.5s, color 0.5s;
}

#content {
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-col);
	color: white;
}

#home-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 500px;
	margin: auto;
	padding: 32px;
}

#home-div p {
	text-align: center;
}

.chef-img {
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 32px;
	border: 2px solid white;
}

#menu-div {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 32px;

	animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
	opacity: 0;
	transform: rotateX(-90deg);
  transform-origin: top center;
}

.food-card {
	width: 300px;
	height: 250px;
	border: 3px double white;
	padding: 16px;
	border-radius: 16px;
	background-color: rgba(0, 0, 0, 0.5);
}

.food-card h2 {
	font-family: 'TheWildBreathOfZelda';
	font-size: 2rem;
}

.food-card p {
	font-size: 0.8rem;
}

.food-card .price {
	font-size: 1rem;
	text-align: right;
}

.price::before {
	content: url('../assets/rupee.png');
	margin-right: 4px;
}

.food-card div {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#contact-div {
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin: auto;
	padding: 32px;
}

.contact-card {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 500px;
}

.contact-card img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid white;
}

.contact-card h2 {
	font-family: 'TheWildBreathOfZelda';
	font-size: 2rem;
}

.contact-card p {
	font-size: 0.9rem;
}

.map-card img {
	width: 500px;
	height: 300px;
	flex: 1 1 auto;
	border-radius: 16px;
	border: 3px double white;
}

#home-div, #contact-div {
	animation: fadeIn 1s;
}

#footer {
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	gap: 8px;
	background-color: var(--background-col);
	padding: 16px;
	color: white;
}

#footer img {
	padding-top: 8px;
}

a {
	color: white;
}
